body{
    font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header{
    height: 1024px;
    background-image: url(img/header_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 217px;
    &__title{
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: #FFFFFF;
    }
    &__text{
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        margin-top: 32px;
        margin-bottom: 44px;
        width: 481px;
        &_bolt{
            font-weight: 900;
        }
    }
    &__button{
        border: none;
        width: 234px;
        height: 48px;
        background: #9C0332;
        border-radius: 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        transition: transform 0.2s;
        &:hover{
            transform: scale(1.05);
        }
    }
}

.games{
    background-color: #000915;
    padding-top: 128px;
    padding-bottom: 128px;
    gap: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.game{
    width: 378px;
    height: 300px;
    border-radius: 18px;
    grid-column: span 4;
    position: relative;
    transition: transform 0.2s;
    &__text{
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        position: absolute;
        left: 32px;
        bottom: 32px;
    }
    &:hover{
        transform: scale(1.05);
    }
}

@media (max-width: 480px) {

	.header{
        height: 735px;
        background-image: url(img/header-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 217px;
        &__title{
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            text-align: center;
        }
        &__text{
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 32px;
            text-align: center;
            width: 343px;
            margin-left: auto;
            margin-right: auto;
        }
        &__button{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .games{
        padding-right: 16px;
        padding-left: 16px;
    }
}
